<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>My First Heading</h1>
<p>My first paragraph on the page.</p>
<p>

<ul>
{% for item in bagr %}
  {{ item }}
{% endfor %}

</ul>

</p>
</body>
</html>
